body{
  font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  border: 1px solid #fff;
  /* box-shadow:0px 0px 10px 0 #a9a9a9; */
}

a {
  text-decoration: none;
  color: inherit;
}

.header a:hover {
  text-decoration: underline;
  color: inherit;
}

.logo {
  width: 75px;
}

.nav-bar > ul {
  display: flex;
}

.nav-bar > ul > li {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  list-style: none;
}

.body-container {
  padding: 5px;
  margin: 5px 75px;
}

.search-container {
  margin: 5px;
  padding: 5px;
}

.restaraunt-card-container {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-card {
  margin: 5px;
  padding: 20px 20px;
  width: 220px;
  height: 250px;
  cursor: pointer;
}

.restaurant-card:hover {
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px 0 #a9a9a9;
}

.restaurant-img {
  width: 100%;
}

.restaurant-name {
  padding: 7px 0;
  font-size: 17px;
  font-weight: 500;
  word-break: break-word;
}

.restaurant-cuisines {
  color: #686b78;
  font-size: 13px;
}

.restaurant-footer-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #535665;
  padding: 5px 0;
}

.restaurant-rating {
  display: flex;
  align-items: center;
  width: 35px;
  height: 20px;
  padding: 0 5px;
  background-color: #48c479;
  color: #fff;
}

.body-nav-items {
  display: flex;
  justify-content: space-between;
}

.filter-container {
  margin: 0 20px;
}

.filter-btn {
  padding: 0 5px;
  color: #535665;
}
.filter-btn:hover {
  cursor: pointer;
}

.restaurant-details {
  max-width: 800px;
  min-height: 800px;
  margin: 20px auto 0;
}
