.non-veg-badge-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e43b4f;
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 2px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #e43b4f;
}
